body {
    background-color: rgba(48, 120, 255, 0.823);
    align-items:center ;
    text-align: center;
}

h1 {
    color: rgb(246, 246, 246);
    text-align: center;

}
.box {
    color:rgb(246,246,246);
    

    
}